/* General Styling */
html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color:#FAFAFA;
}
/* Navagation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: /*#E71630*/black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    width:100%;
}
li.home {
}
li {
	float: left;
}
li#val i {
    color:deeppink;
    margin-left:auto;
    margin-right:auto;
}
#holidays {
    width:100%;
    text-align: center;
}
li#hal i {
    color:orangered;
    margin-left:auto;
    margin-right:auto;
}
li#chr i {
    color:green;
    margin-left:auto;
    margin-right:auto;
}
li#new i {
    color:dodgerblue;
    margin-left:auto;
    margin-right:auto;
}
li#east i {
    color:gold;
    margin-left:auto;
    margin-right:auto;
}
li#jul i {
    color:blue;
    margin-left:auto;
    margin-right:auto;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding-right:1.5em;
    padding-left:1.5em;
    padding-top:0.75em;
    padding-bottom:0.75em;
	text-decoration: none;
}
li a:hover {
	background-color: #FAFAFA;
    color:black;
}
li#cart {
	float: right;
	text-align: right;
	padding-left:100px;
}
/* Page Content */
h1 {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 72px;
}