ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black;
font-family: Helvetica-light, Tahoma, san-serif;
font-size: 22px;

}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 60px;
	text-decoration: none;
	
}
li a:hover {
	background-color: white;
	
}
#cart {
	float: right;
	text-align: right;
	padding-left:100px;
}
img{
	float:right;
	padding-left:50px;
}
h1 {
	text-align: center;
	font-family: Helvetica-light, Tahoma, san-serif;
	font-size: 72px;
}
